<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
    <head>
        <title>My App</title>
        <meta charset="utf-8" />

        <style>
            body {
                font-family: sans-serif;
            }

            dt, dd {
                font-family: monospace;
            }
        </style>

        <meta charset="utf-8" />
    </head>
    <body>
        <h1>My App</h1>

        <div>
            <form th:action="@{/logout}" method="post">
                <input type="submit" value="Logout" />
            </form>
        </div>

        <hr>

        <h2>Response from <em>httpbing.org/headers</em></h2>

        <pre th:text="${httpBinResponse}"></pre>
    </body>
</html>
